@model TesteCitelSoftware.WebApi.Models.CategoriaViewModel

@{
    ViewBag.Title = "Detalhes Categoria";
}

<h2>Detalhes da Categoria</h2>

<form class="form-horizontal">
    <fieldset>
        <div class="panel panel-primary">
            <div class="panel-heading">Dados da Categoria</div>

            <div class="panel-body">

                <div class="widget-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="texto">Descrição</label>
                            @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control", placeholder = "Descrição da categoria" } })
                            @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-8">
                            @Html.ActionLink("Editar", "Alterar", new { id = Model.Id }, new { @class = "btn btn-success" })
                            @Html.ActionLink("Cancelar", "Index", new { }, new { @class = "btn btn-danger" })
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </fieldset>
</form>

@*<div>
    <h4>CategoriaViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
