@model IEnumerable<TesteCitelSoftware.WebApi.Models.CategoriaViewModel>

@{
    ViewBag.Title = "Categoria";
}

<h3>Consulta de Categorias</h3>

<body>
    <p>
        @Html.ActionLink("Nova Categoria", "Cadastro", new { }, new { @class = "btn btn-sm btn-primary pull-left m-b-2" })
    </p>
    <div class="container-table100">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="wrap-table100">
            <div class="table100 ver1 m-b-110">
                <div class="table100-head">
                    <table>
                        <thead>
                            <tr class="row100 head">
                                <th class="cell100 column1">
                                    @Html.DisplayNameFor(model => model.Descricao)
                                </th>
                                <th class="cell100 column2">

                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="table100-body js-pscroll" style="height:300px">

                    <table>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="row100 body">
                                    <td class="cell100 column1">
                                        @Html.DisplayFor(modelItem => item.Descricao)
                                    </td>
                                    <td class="cell100 column2">
                                        @Html.ActionLink("Editar", "Alterar", new { id = item.Id }, new { @class = "btn btn-sm btn-success" }) |
                                        @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id }, new { @class = "btn btn-sm btn-primary" }) |
                                        @Html.ActionLink("Excluir", "Delete", new { id = item.Id }, new { @class = "btn btn-sm btn-danger" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>


            </div>

        </div>
    </div>

    <script>
        $('.js-pscroll').each(function () {
            var ps = new PerfectScrollbar(this);

            $(window).on('resize', function () {
                ps.update();
            })
        });


    </script>
</body>