@model TesteCitelSoftware.WebApi.Models.LoginUserViewModel


@{
    ViewBag.Title = "Login";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <body>
        <div class="container">
            <a class="links" id="paracadastro"></a>
            <a class="links" id="paralogin"></a>

            <div class="content">
                <!--FORMULÁRIO DE LOGIN-->
                <div id="login">
                    <form method="post" action="Index">
                        <h1>Login</h1>

                        <label for="email_login">Seu e-mail</label>
                        <p>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "teste@teste.com" } })<br />
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </p>

                        <label for="senha_login">Sua senha</label>
                        <p>
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Teste@123", type = "password" } })<br />
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </p>

                        <p>
                            <input type="checkbox" name="manterlogado" id="manterlogado" value="" />
                            <label for="manterlogado">Manter-me logado</label>
                        </p>

                        <p>
                            <input type="submit" value="Entar" />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </p>

                        <p class="link">
                            Ainda não tem conta?
                            @Html.ActionLink("Cadastre-se", "Registrar")
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </body>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}