@model TesteCitelSoftware.WebApi.Models.RegisterUserViewModel

@{
    ViewBag.Title = "Registrar";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <body>
        <div class="container">
            <a class="links" id="paracadastro"></a>
            <a class="links" id="paralogin"></a>

            <div class="content">
                <!--FORMULÁRIO DE CADASTRO-->
                <div id="cadastro">
                    <form method="post" action="Registrar">
                        <h1>Cadastro</h1>

                        <label for="nome_cad">Seu e-mail</label>
                        <div>

                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "teste@teste.com" } })<br />
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>

                        <label for="email_cad">Sua senha</label>
                        <div>

                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Teste@123", type = "password" } })<br />
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>

                        <label for="senha_cad">Confirme a senha</label>
                        <div>

                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { placeholder = "Teste@123", type = "password" } })<br />
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            <input type="submit" value="Cadastrar" />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>

                        <p class="link">
                            Já tem conta?
                            @Html.ActionLink("Ir para Login", "Index")
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </body>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
